
<div class="wrapper">
  <div class="opt">
    <p class="shoe-i">No. of items found</p>
    <hr>
    <h4>Brand</h4>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Nike
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
      <label class="form-check-label" for="flexCheckChecked">
        Adidas
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
      <label class="form-check-label" for="flexCheckChecked">
        Puma
      </label>
    </div>
    <hr>
    <h4>Price</h4>
    <hr>
    <h4>Size</h4>
    <ul class="shoe-chart">
      <a href=""><li class="shoe-sz">4</li></a>
      <a href=""><li class="shoe-sz">5</li></a>
      <a href=""><li class="shoe-sz">6</li></a>
      <a href=""><li class="shoe-sz">7</li></a>
      <a href=""><li class="shoe-sz">8</li></a>
      <a href=""><li class="shoe-sz">9</li></a>
      <a href=""><li class="shoe-sz">10</li></a>
      <a href=""><li class="shoe-sz">11</li></a>
      <a href=""><li class="shoe-sz">12</li></a>
      <a href=""><li class="shoe-sz">13</li></a>
      <a href=""><li class="shoe-sz">14</li></a>
      <a href=""><li class="shoe-sz">15</li></a>
    </ul>
  </div>
  <div class="shoe-list">
    <div class="shoe" *ngFor="let shoe of shoes; let i = index">
      <a [routerLink]="['/details/', shoe._id]">
        <img src="{{shoe.url}}" alt="">
        <p class="stats">{{shoe.title}}</p>
        <p class="stats">{{shoe.name}}</p>
        <p class="stats">{{shoe.price}}</p>
      </a>
    </div>
  </div>
</div>


