

@font-face {
  font-family: empire;
  src: url("/assets/fonts/krink.ttf");
}


@font-face {
  font-family: robo;
  src: url("/assets/fonts/Roboto-Black.ttf");
}

.container-fluid {
  display: inline-block;
}

div.contain {
  margin: 0px;
  height: 1122px;
  padding: 0px;
}

nav {
  padding-top: 25px;
  width: 2730px;
  height: 200px;
  background-color: rebeccapurple;
}

.container-fluid {
  padding-left: 0px;
}

.navbar {
  padding-left: 0px;
  padding: 0px;
  height: 120px;
}

.active{
  margin-right: 40px;
}

.nav-link {
  display: inline-block;
  margin-right: 25px;
}

.navbar-nav {
  display: inline-block;
}

a.navbar-brand {
  text-decoration: none;
  font-size: 60px;
  margin-right: 60px;
  font-family: empire;
  padding-left: 50px;
  font-weight: bold;
  color: black;
  letter-spacing: 7px;
}

a.nav-link {
  padding-right: 25px;
  text-decoration: none;
  font-size: 22px;
  font-family: robo;
  letter-spacing: 4px;
  color: whitesmoke;
}

.text {
  font-weight: bold;
}

.footer {
  background-color: black;
  height: 208px;
}

.footer p {
  color: whitesmoke;
}

.about, .r-update {
  display: inline-block;
  padding-top: 20px;
  margin-right: 58px;
  vertical-align: top;
  text-align: left;
}

.form {
  display: inline-block;
}

.b-form {
  padding: 7px;
  background-color: green;
  color: whitesmoke;
  border: none;
  margin-right: 58px;
  margin-top: 10px;
}

.i-text {
  height: 38px;
}

.p-title {
  font-weight: bold;
  font-size: 15px;
  font-family: robo;
}

.r-up {
  font-size: 15px;
  font-family: robo;
  margin-top: 23px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.text {
  padding-top: 20px;
  padding-bottom: 10px;
}

.box {
  text-align: center;
}

.far {
  margin-right: 25px;
  color: black;
}

.fas {
  color: black;
}

.link-s {
  margin-right: 1900px;
}
