<div class="container">
  <div class="shoe-img">
    <img class="shoe-main" src="https://www.flightclub.com/media/catalog/product/cache/1/image/1600x1140/9df78eab33525d08d6e5fb8d27136e95/8/0/803976_01.jpg" alt="small_shoes_images">
  </div>
  <div class="shoe-d">
    <h1 class="brand"></h1>
    <p class="name"></p>
    <p class="release"></p>
    <p class="color"></p>
    <h1 class="price"></h1>
    <p>AVAILABLE SIZES (US MEN SIZE)</p>
    <div class="button-row"></div>
    <button class="add-to-cart"></button>
  </div>
  <div class="row">
    <div class="shoe-si">
      <img  class="thumb" src="https://www.flightclub.com/media/catalog/product/cache/1/image/1600x1140/9df78eab33525d08d6e5fb8d27136e95/8/0/803976_02.jpg" alt="small_shoes_images">
    </div>
    <div class="shoe-si">
      <img  class="thumb" src="https://www.flightclub.com/media/catalog/product/cache/1/image/1600x1140/9df78eab33525d08d6e5fb8d27136e95/8/0/803976_03.jpg" alt="small_shoes_images">
    </div>
    <div class="shoe-si">
      <img  class="thumb" src="https://www.flightclub.com/media/catalog/product/cache/1/image/1600x1140/9df78eab33525d08d6e5fb8d27136e95/8/0/803976_04.jpg" alt="small_shoes_images">
    </div>
    <div class="shoe-si">
      <img  class="thumb" src="https://www.flightclub.com/media/catalog/product/cache/1/image/1600x1140/9df78eab33525d08d6e5fb8d27136e95/8/0/803976_01.jpg" alt="small_shoes_images">
    </div>
  </div>
</div>
