<div class="container">
  <div class="shoe-img">
    <img class="shoe-main" src={{shoe.url}} alt="small_shoes_images">
  </div>
  <div class="shoe-d">
    <h1 class="brand">{{shoe.brand}}</h1>
    <p class="name">{{shoe.name}}</p>
    <p class="release">Release: <b>X/X/20XX</b></p>
    <h1 class="price">Retail Price: $350</h1>
    <p>AVAILABLE SIZES (US MEN SIZE)</p>
    <div class="button-row"></div>
    <button class="add-to-cart"></button>
  </div>
  <div class="row">
    <div class="shoe-si">
      <img  class="thumb" src={{shoe.url}} alt="small_shoes_images">
    </div>
    <div class="shoe-si">
      <img  class="thumb" src={{shoe.url}} alt="small_shoes_images">
    </div>
    <div class="shoe-si">
      <img  class="thumb" src={{shoe.url}} alt="small_shoes_images">
    </div>
    <div class="shoe-si">
      <img  class="thumb" src={{shoe.url}} alt="small_shoes_images">
    </div>
  </div>

  <div class="carousel">
    <ngb-carousel >

    </ngb-carousel>
  </div>
</div>
